[Unit]
Description=Console shell (autologin)
After=motd.service

[Service]
ExecStart=/bin/login -f ai
StandardInput=tty
Restart=always
RestartSec=0.5

[Install]
WantedBy=multi-user.target
