[Unit]
Description=Show the logo, the system and /etc/motd (aios)
After=swap.service networkd.service

[Service]
Type=oneshot
ExecStart=/bin/aios
StandardInput=tty

[Install]
WantedBy=multi-user.target
