[Unit]
Description=Network configuration from /etc/systemd/network (networkd)

[Service]
Type=oneshot
ExecStart=/bin/networkd

[Install]
WantedBy=multi-user.target
